*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}


header {

position: absolute;
top: 10px;
width: 90%;

text-align: right;
margin-left: 100px;
transition: 2 ease-in-out;
}

header a{
    margin-right: 100px;
    text-decoration: none;
    font-size:17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(246, 237, 237,0.5);
    transition: 0.5s ease-in-out;

}
header a:hover{

    color: white;
}

main{
    
    background-image: url("./hotel.jpg");
 
    width: 100%;
    height: 100vh;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   background-attachment: fixed;
 

}
main h1{
    font-size: 120px;
    mix-blend-mode: overlay;
    letter-spacing: 10px;

}

main h2{
    transform: translate(5px, 90px);
    position: absolute;
    font-size:70px ;
    mix-blend-mode: overlay;

}

.secondpage span{
   
        color: #ffffff;
        font-size: 50px;
        position: absolute;
        top: 750px; 
        right: 388px;
        mix-blend-mode: overlay;
        letter-spacing: 5px;
        background-color: rgb(0, 0, 0,0.5);
        font-family: Arial, Helvetica, sans-serif;
}


p{
   font-size: 20px;
   letter-spacing: 2px;
   word-spacing: 10px;
   color: navajowhite;
   background-color: rgba(0, 0, 0,0.5);
}

.dnbtn{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 111px;
}

div{
    width: 40%;
    position: absolute;
    right: 220px;
}
.story-heading{
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    top: 1500px; 
    right: 388px;
    mix-blend-mode: overlay;
    letter-spacing: 5px;
    background-color: rgb(0, 0, 0,0.5);
    font-family: Arial, Helvetica, sans-serif;
}

.dnbtn2{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -111px;
    top: 320px;
}
.upbtn{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -111px;
    top: 250px;

}